@charset "UTF-8";
/*=======================
  ヘッダー
  =======================*/
@use "../../global/forwords" as fw;

.p-header{
  padding-top: 43px;
  padding-bottom: 39px;
  display: flex;
  flex-direction: column;
  @include fw.mq("tab"){
    padding-top: 40px;
    padding-bottom: 40px;
    @include fw.mq("pc"){
        padding: 3.438vw 1.615vw 3.490vw 3.385vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }
    &__search{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      @include fw.mq("tab"){
        margin-top: 38px;
        @include fw.mq("pc"){
          margin-top: 0;
        }
      }
    }
}