@charset "UTF-8";
/*=======================
  p-header
  =======================*/

@use "../../global/forwords" as fw;

.p-header{
    padding-top: 42px ;
    padding-bottom: 39px;
    display: flex;
    flex-direction: column;
    @include fw.mq("pc"){
        padding: 66px 31px 67px 65px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        position: absolute;
        top:8px;
        right: 8px;
        @include fw.mq("tab"){
            top: 2opx;
            right: 20px;
        }
    }
    &__ttl{
        text-align: center;
        margin-bottom: 40px;
        @include fw.mq("pc"){
            margin-bottom: 0;
            padding: 3.61px 0.5px;
        }
    }
    &__search{
        display: flex;
        justify-content: center;
    }
}