@charset "UTF-8";
/*=======================
  heddar検索
  =======================*/
@use "../../global/forwords" as fw;

.p-header__search{
    margin: fw.sp-vw( 40 ) auto 0;
    @include fw.mq("tab"){
      margin-top: fw.tab-vw( 38 );
      @include fw.mq("pc"){
        margin: 0;
      }
    }
  form{
  width: fw.sp-vw( 318 );
  display: flex;  
  justify-content: space-between;
  @include fw.mq("tab"){
      width: fw.tab-vw( 546 );
      @include fw.mq("pc"){
        width: fw.pc-vw( 546 );
      }
  }
  input{
      width: fw.sp-vw( 216 );
      padding: fw.sp-vw( 10 ) fw.sp-vw( 5 )fw.sp-vw( 10 ) fw.sp-vw( 34 ) ;
      @include fw.mq("tab"){
          width: fw.tab-vw( 396 );
          padding: fw.tab-vw( 11 ) fw.tab-vw( 12 ) fw.tab-vw( 11 ) fw.tab-vw( 36 );
          @include fw.mq("pc"){
            width: fw.pc-vw( 396 );
            padding: fw.pc-vw( 11 ) fw.pc-vw( 12 ) fw.pc-vw( 11 ) fw.pc-vw( 36 );
          }
      }
  }
  button{
    display: block;
    text-align: center;
    width: fw.sp-vw( 88 );
    color: fw.$color--darkGray;
      @include fw.mq("tab"){
        width: fw.tab-vw( 134 );
          @include fw.mq("pc"){
            width: fw.pc-vw( 134 );
          }
      }
  }
  }
}