@charset "UTF-8";
/*=======================
  p-header
  =======================*/

@use "../../global/forwords" as fw;

.p-header{
    padding-bottom: 39px;
    display: flex;
    flex-direction: column;
    @include fw.mq("pc"){
        padding: 66px 31px 67px 65px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        width: 52px;
        height: 38px;
        position: absolute;
        top: 7px;
        right: 6px;z-index: 1000;
        @include fw.mq("tab"){
            width: 92px;
            height: 40px;
            top:20px;
            right: 20px;
        }
        @include fw.mq("pc"){
            display: none;
        }
    }
    &__ttl{
        text-align: center;
        margin-top: 43px;
        margin-bottom: 40px;
        @include fw.mq("pc"){
            margin-top: 0;
            margin-bottom: 0;
            padding: 3.61px 0.5px;
        }
    }
    &__search{
        display: flex;
        justify-content: center;
    }
}