@charset "UTF-8";
/*=======================
  ヘッダータイトル
  =======================*/
@use "../../global/forwords" as fw;

.p-header__ttl{
  font-size: 4.0rem;
  line-height: 1.175;
  text-align: center;
  color: fw.$color--darkGray;
  @include fw.mq("tab"){
    line-height: 1.325;
    @include fw.mq("pc"){
        font-size: 6.4rem;
        line-height: 1.3125;
    }
  }
}