@charset "UTF-8";
/*=================
  ナビゲーションボタン
  =================*/
@use "../../global/forwords" as fw;

.p-navButton{
    
    > span{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.15;
    color: fw.$color--darkGray;
        @include fw.mq("tab"){
            font-size: 3.4rem;
            line-height: 1.176;
        }
    }
    &.is-open{
        &::before,
        &::after{
            content: "";
            width: 42.25px;
            height: 6px;
            background: fw.$color--darkGray;
            position: absolute;
            display: block;
            right: 0;
            top:16px;
        }
        &::before{
            transform: rotate( 45deg );

        }
        &::after{
            transform: rotate( 135deg );
        }     
        > span{
            display: none;
        }
    }

    } 