@charset "UTF-8";
/*=======================
  タイトル
  =======================*/
@use "../../global/forwords" as fw;

.p-topPageTitle{
    color: fw.$color--white;
    font-size: 3.6rem;
    span{
        font-size: 1.6rem;
    }
}
