@charset "UTF-8";
/*=======================
  フロントページp-bodyの変更
  =======================*/
  @use "../../foundation/forwords" as fw;
.p-wrapper-frontPage{
    padding: fw.sp-vw(20) fw.sp-vw(20) fw.sp-vw(49);
    @include fw.mq("tab"){
        padding: fw.tab-vw(40);
        @include fw.mq("pc"){
            padding: fw.pc-vw(120) fw.pc-vw(120) fw.pc-vw(130);
        }
    }
}