@charset "UTF-8";
/*=================
  ナビゲーションボタン
  =================*/
@use "../../global/forwords" as fw;

.c-navButton{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: fw.$color--darkGray;
    @include fw.mq("tab"){
        font-size: 3.4rem;
    }
    @include fw.mq("pc"){
        display: none;
    }
}