@charset "UTF-8";
/*==========================
  ナビ.ゲーションメニュー
  ==========================*/
@use "../../global/forwords" as fw;

.c-nav__ttl{
    display: none;
    @include fw.mq("pc"){
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3.4rem;
    }
}