@charset "UTF-8";
/*=================
  サーチボックス
  =================*/
@use "../../global/forwords" as fw;

.c-searchBox{
  position: relative;
  .searchBox__input{
    border: 1px solid fw.$color--darkGray;
    border-radius: 10px;
    background-color: fw.$color--white;
  }
  .searchBox__icon{
    position: absolute;
    top: 11px;
    left: 5px;
  }
}