@charset "UTF-8";
/*=================
  ヘッダータイトル
  =================*/
@use "../../global/forwords" as fw;

.c-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 1.2;
  color: fw.$color--darkGray;
  display: inline-block;
  @include fw.mq("pc"){
    font-size: 6.4rem;
  }
}